:root {
  --font-family: "Nunito", sans-serif;
  --color: #000;
  --bg-color: #fff;
  --header-height: 50px;
  --container-max-width: 690px;//
  --header-height: 50px;
  --border-color: #aaaaaa;
  --section-padding: 30px 15px;//
  --container-template-columns: repeat(1, 1fr);//
  --container-gap: 30px;//
  --title-fz: 26px;//

  --copy-font-size: 14px;//

  @media (min-width: 768px) {
    --section-padding: 30px 0px;//
    --container-template-columns: repeat(2, 1fr);//
    --copy-font-size: 16px;//
    --title-fz: 30px;//
  }

  @media (min-width: 1152px) {
    --container-max-width: 930px;//
    --header-height: 80px;
    --section-padding: 40px 0px;//
    --container-gap: 40px;//
    --copy-font-size: 18px;//
    --title-fz: 34px;//
  }

  @media (min-width: 1440px) {
    --container-max-width: 1110px;//
    --section-padding: 50px 0px;//
    --container-gap: 110px;//
    --copy-font-size: 20px;//
    --title-fz: 40px;//
  }
}