@import 'shared/constants/styles/breakpoints';
@import 'shared/constants/styles/varsForSections';

.wrapper {
  padding: 30px 15px;

  @media (min-width: $breakpoint_md) {
    max-width: $container_max_width;
    margin: 0 auto;
    padding: 30px 0;
  }

  @media (min-width: $breakpoint_lg) {
    max-width: $container_max_width_lg;
    padding: 40px 0;
  }

  @media (min-width: $breakpoint_xl) {
    max-width: $container_max_width_xl;
    padding: 50px 0;
    gap: 110px;
  }
}

.list {
  display: grid;
  gap: 20px;

  @media (min-width: $breakpoint_md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint_lg) {
    gap: 30px;
  }
}

.listItem {
  display: block;
  min-height: 5vw;
}