@import 'shared/styles/breakpoints';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  padding: 0 15px;
  background: var(--bg-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
  }

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
}

.navigation {
  @media (min-width: $breakpoint_lg) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.logo {
  display: block;
  position: relative;
  width: 80px;
  height: 30px;
  color: currentColor;
  z-index: 1;

  @media (min-width: $breakpoint_lg) {
    height: 40px;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%; // растяг-ся на viewport из-за pos: abs
  display: flex;
  flex-direction: column;
  color: var(--color);
  background: var(--bg-color);
  transition: top 0.5s, visibility 0.5s;
  visibility: hidden;

  @media (min-width: $breakpoint_lg) {
    flex-direction: row;
    margin-left: auto;
    top: 0;
    position: relative;
    z-index: 1;
    visibility: visible;
  }

  &.active {
    top: var(--height-header-xs);
    visibility: visible;
  }

  &.dark {
    opacity: 1; // 
  }
}

.item {
  font-size: 24px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  color: currentColor;

  @media (min-width: $breakpoint_lg) {
    border: none;
    font-size: 18px;
    margin-left: 40px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  @media (min-width: $breakpoint_lg) {
    font-size: 20px;
  }

  a {
    display: block;
    width: 100%;
    padding: 25px 15px;
    display: flex;
    justify-content: flex-start;

    @media (min-width: $breakpoint_lg) {
      padding: 0;
    }
  }
}

a:global.active {
  border-bottom: 2px solid #aaa;
}

.language {
  width: 50px;
  height: 30px;
  border: 1px solid currentColor;
  border-radius: 4px;
  z-index: 1;
  position: relative;
  color: currentColor;
  margin-left: auto;

  @media (min-width: $breakpoint_lg) {
    height: 40px;
    margin-left: 40px;
  }

  select {
    width: 100%;
    height: 100%;
    appearance: none;
    padding: 6px;
    color: currentColor;
    position: relative;
    background: inherit;
  }

  svg {
    position: absolute;
    top: 11px;
    right: 5px;
    z-index: -1;
    fill: currentColor;

    @media (min-width: $breakpoint_lg) {
      top: 16px;
    }
  }
}

.theme {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  color: currentColor;
  z-index: 1;

  @media (min-width: $breakpoint_md) {
    margin-left: 30px;
  }

  @media (min-width: $breakpoint_lg) {
    height: 40px; //!!
  }

  svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
  }
}

.burger {
  margin-left: 20px;
  height: 20px;
  width: 30px;
  position: relative;
  z-index: 1;
  color: currentColor;

  @media (min-width: $breakpoint_md) {
    margin-left: 30px;
  }

  @media (min-width: $breakpoint_lg) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: currentColor;
    transition: all 0.5s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active {
    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    span {
      opacity: 0;
    }

    &::after {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
      z-index: 2;
    }
  }

  span {
    display: block;
    height: 2px;
    width: 100%;
    background: currentColor;
    transition: all 0.5s;
  }
}