$container_max_width: 690px;
$container_max_width_lg: 930px;//1152px
$container-max-width_xl: 1110px;

$section_padding: 30px 15px;
$section_padding_md: 30px 0px;
$section_padding_lg: 40px 0px;
$section-padding_xl: 50px 0px;

$container_template_columns: repeat(1, 1fr);
$container_template_columns_md: repeat(2, 1fr);

$container_gap: 30px;
$container_gap_lg: 40px;
$container-gap_xl: 110px;

$title_fz: 26px;
$title_fz_md: 30px;
$title_fz_lg: 34px;
$title-fz_xl: 40px;

$copy_font_size: 14px;
$copy_font_size_md: 16px;
$copy_font_size_lg: 18px;
$copy-font-size_xl: 20px;