@import 'shared/constants/styles/breakpoints';
@import 'shared/constants/styles/varsForSections';

.posts {
  padding: 30px 15px;

  @media (min-width: $breakpoint_md) {
    padding: $section_padding_md;
  }

  @media (min-width: $breakpoint_lg) {
    padding: $section_padding_lg;
  }

  @media (min-width: $breakpoint_xl) {
    padding: $section_padding_xl;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  max-width: $container_max_width;

  @media (min-width: $breakpoint_lg) {
    max-width: $container_max_width_lg;
  }

  @media (min-width: $breakpoint_xl) {
    max-width: $container_max_width_xl;
  }
}

.title {
  font-size: $title_fz;
  font-weight: 700;

  @media (min-width: $breakpoint_md) {
    font-size: $title_fz;
  }

  @media (min-width: $breakpoint_lg) {
    font-size: $title_fz_lg;
  }

  @media (min-width: $breakpoint_xl) {
    font-size: $title_fz-xl;
  }
}

.list {
  max-width: $container_max_width;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 20px 0 10px 0;

  @media (min-width: $breakpoint_md) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0px 10px 0px;
    gap: 20px;
  }

  @media (min-width: $breakpoint_lg) {
    max-width: $container_max_width_lg;
  }

  @media (min-width: $breakpoint_xl) {
    max-width: $container_max_width_xl;
  }
}

.post {
  display: grid;
  grid-template-columns: 45% 55%;

  margin-bottom: 10px;

  @media (min-width: $breakpoint_md) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $breakpoint_xl) {}
}

.image {
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px 0px;
  margin-left: 10px;
}

.titlePost {
  font-weight: 700;
  margin-bottom: 5px;

  @media (min-width: $breakpoint_md) {}

  @media (min-width: $breakpoint_lg) {
    font-size: 20px;
  }

  @media (min-width: $breakpoint_xl) {}
}

.article {
  margin-bottom: 5px;

  @media (min-width: $breakpoint_md) {}

  @media (min-width: $breakpoint_lg) {
    font-size: 20px;
  }

  @media (min-width: $breakpoint_xl) {}
}

.link {
  text-decoration: underline;
  text-align: left;

  @media (min-width: $breakpoint_md) {}

  @media (min-width: $breakpoint_lg) {
    font-size: 20px;
  }
}

.linkToPostsPage {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto 0;
  min-height: 35px;
  width: 100%;
  overflow-x: hidden;
  padding: 10px 30px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  font-size: 16px;
  color: inherit;
  text-align: center;
  position: relative;

  @media (min-width: $breakpoint_md) {
    width: 225px;
  }

  @media (min-width: $breakpoint_lg) {
    width: 240px;
    font-size: 20px;
  }

  @media (min-width: $breakpoint_xl) {
    margin-top: 20px;
    font-size: 24px;
    width: 280px;
    min-height: 50px;
  }

  // span {
  //   border: 1px solid orangered;
  //   line-height: 10px;
  // }
}

// .button:after {
//   content: '';
//   width: 400px;
//   height: 0.2px;
//   background-color: #000;
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }