.form {
  position: relative;
  margin-top: 30px;
}

.field {
  display: block;
  margin-top: 15px;
  height: 30px;

  &:first-of-type {
    margin-top: 0;
  }

  &.invalid {
    border-bottom: 1px solid red;
  }

  &.succes {
    border-bottom: 1px solid green;
  }

  & input {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    font-size: 16px;
    outline: none;
    border-bottom: 1px solid var(--border-color);

    &::placeholder {
      color: #aaaaaa;
    }
  }
}

  .connection {
    position: relative;
    display: block;
    margin-top: 15px;
    height: 30px;
    border-bottom: 1px solid var(--color-border);

    &.valid {
      border-bottom: 1px solid green;

      span {
        display: none;
      }
    }

    span {
      position: absolute;
      font-size: 16px;
      left: 5px;
      color: #aaaaaa;
    }

    select {
      position: relative;
      font-size: 16px;
      padding-left: 5px;
      width: 100%;
      background: transparent;
      outline: none;


      option {
        font-size: 16px;
        color: #aaaaaa;
      }
    }

    &:after {
      content: '';
      position: absolute;
      background-image: url('data:image/svg+xml,\
        <svg \
          width="10" \
          height="9" \
          viewBox="0 0 10 9" \
          fill="none" \
          xmlns="http://www.w3.org/2000/svg" \
        > \
          <path \
            d="M10 0H0L5 9L10 0Z" \
            fill="%23AAAAAA" \
          /> \
        </svg> \
      ');
      background-repeat: no-repeat;
      display: block;
      width: 10px;
      height: 9px;
      right: 0px;
      bottom: 13px;
      z-index: -1;
      //background: #ee82ee;  
    }
  }
.select {
  position: relative;
  font-size: 16px;
  padding-left: 5px;
  width: 100%;
  background: transparent;
  outline: none;

  option {
    font-size: 16px;
    color: #aaaaaa;
  }
}


